/* Common styles for parallax elements */
.parallax-left,
.parallax-right {
  position: fixed;
  height: 20%; /* Smaller height */
  width: 150px;
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0; /* Start invisible */
  transform: translateY(-200px); /* Positioned above the viewport initially */
  transition: opacity 1s ease-out, transform 1s ease-out;
  z-index: -1;
}

/* Left-side images */
.parallax-left {
  left: 3%; /* Adjust for spacing from the left edge */
}

#parallax-left-1 {
  background-image: url('assets/left.png');
  left: 5%;
}

#parallax-left-2 {
  top: 23%; /* Top position for the second image */
  background-image: url('assets/html.png');
  left: 3.5%;
}

#parallax-left-3 {
  top: 46%; /* Top position for the third image */
  background-image: url('assets/tailwind.jpg');
}

/* Right-side images */
.parallax-right {
  right: 3%; /* Adjust for spacing from the right edge */
}

#parallax-right-1 {
  background-image: url('assets/right.png');
}

#parallax-right-2 {
  top: 23%; /* Top position for the second image */
  background-image: url('assets/ts.png');
}

#parallax-right-3 {
  top: 46%; /* Top position for the third image */
  background-image: url('assets/js.png');
}

/* Responsive: Hide on small screens */
@media (max-width: 768px) {
  .parallax-left,
  .parallax-right {
    display: none;
  }
}
